body {
    background-color: burlywood;
    font-family: 'Junction';
}





nav {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 1em;
}


li  {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 50px 50px ;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Junction';
}
